body{
    margin: 0;
    padding: 0%;
}

.container{
    margin: auto;
    padding : 0%;
    background: #f6f6ef;
    width: 85vw;
    height: auto;
    margin-top: 0.5em;
    font-family: "Dejavu Sans";
    font-size: 0.95em;
}

.header{
    background: #ff6600;
    width: 100%;
    height: 4vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    align-items: center;

}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;

}

.user{
    display: flex;
    flex-direction: row-reverse;
}
.more-gap-between{
    margin-left: 1em;
}

.gap-between{
   margin-left: 2px;
}
a{
    text-decoration:none;
    cursor:pointer;
    color: black;
    font-size: 0.9em;
}

.post_container{
    margin-top: 0.5em;
    display: grid;
    grid-template-rows: 15% 15%;
    grid-template-columns: 2% 2% 96%;
}

.serial-number-decending{
    justify-self: end;
}
.upvote{
    align-self: center;
    cursor: pointer;
}
.post-author{
    grid-column: 3/5;
    grid-row: 2/4;
}
.faded-color-and-font{
    font-size: 0.8em;
    color :  #828282;
}

.instruction-on-update{
    margin-top: 0.8em;
    background: #fdf6aa;
    width: 100%;
    height : 8vh;
    font-family: "Dejavu Sans";
    font-size: 0.9em;

}
.instruction{
    padding: 1%;
}
li{
    list-style-type: none;
}
.unvote{
    cursor: pointer;
    display: none;
}
.more{
    margin: 1% 0% 1% 0%;
    color :  #828282;
}
.hide-post{
    cursor: pointer;
}
.fade-color{
    color :  #828282;
    font-size: 0.8em;
}

.aClassName{
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
    .container{
        margin: 0%;
        padding : 0%;
        background: #f6f6ef;
        width: 100%;
        height: auto;
        margin-top: 0;
        font-family: "Dejavu Sans";
        font-size: 0.95em;
    }
    .header{
        height: auto;
    }
    .navbar{
        display: grid;
        grid-template-columns: 6% 94%;
        grid-template-rows: 4vh 4vh;
    }
    .logo-container{
        grid-row: 1/4;
        grid-column: 1/2;
        justify-content: center;
    }
    .brand-name{
        grid-row: 1/2;
        grid-column: 2/4;
        justify-content: baseline;
    }
    .nav-menu-container{
        grid-column: 2/4;
        grid-row: 2/4;

    }
    .reset-gap{
        margin-left: 0px;
    }
  }