a{
    text-decoration:none;
    cursor:pointer;
    color: black;
    font-size: 0.9em;
}

.footer{
    border-top: 2px solid #ff6600;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}