<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="shortcut icon" href="{{ url_for('static', filename = 'index.gif') }}">
      <title>Hacker News</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
      {{ moment.include_jquery() }}
      {{ moment.include_moment() }}
    </head>
    <body>

      <div class="container">
        <div class="header">
            <div class="navbar">
               <a href="{{ url_for('index') }}" class="logo-container"><img src="{{ url_for('static', filename = 'index.gif') }}" alt="logo" style="border:1px white solid;" class="gap-between" width="18" height="18"></a>
               <a href="{{ url_for('index') }}" class="brand-name"><h4 class="gap-between" > Hacker News</h4></a>
               <div class="nav-menu-container">
               {% if current_user.is_authenticated %}
                <a href="#" class="more-gap-between show_hide reset-gap">  welcome  |</a>
                <a href="#" class="show_hide" > new |</a>
                <a href="#" class="show_hide">  threads  |</a>
               <a href="#" class="show_hide"> past |</a>
               <a href="{{ url_for('show_new_comments') }}" class="show_hide"> comments |</a>
               <a href="#" class="show_hide"> ask |</a>
               <a href="#" class="show_hide"> show |</a>
               <a href="#" class="show_hide"> job |</a>
               <a href="{{ url_for('submit') }}" class="show_hide"> submit</a>
               {% else %}
                <a href="#" class="more-gap-between show_hide" > new </a>
               <a href="#" class="show_hide">| past </a>
               <a href="{{ url_for('show_new_comments') }}" class="show_hide">| comments </a>
               <a href="#" class="show_hide">| ask </a>
               <a href="#" class="show_hide">| show </a>
               <a href="#" class="show_hide">| job </a>
               <a href="{{ url_for('submit') }}" class="show_hide">| submit</a>
               {% endif %}
               </div>
            </div>
            <div class="user">
            {% if current_user.is_anonymous %}
               <a href="{{ url_for('login') }}" class="show_hide">login</a>
            {% else %}
               <a href="{{ 'http://localhost:5000/logout' }}" class="show_hide">| logout </a>
               <a href="{{ url_for('user_profile', username=current_user.username) }}" class="show_hide">{{ current_user.username }}({{ current_user.karma }}) </a>
            {% endif %}
            </div>
        </div>

        {% block content %}

        {% endblock %}

    </div>

    </body>
</html>