<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {{ comment.hidden_tag() }}
    <table>
        <tr>
            <td><div class="upvote faded-color-and-font"><img src="{{ url_for('static', filename = 'arrow.png') }}" alt="arrow-up"></div></td>
            <td><div class="post-title"><a href=" redirect('{{post.url}}') ">{{ post.title }}</a> ({{ post.url }})</div></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="post-author faded-color-and-font">
                        {{ post.author.karma }} points by <a href="{{ url_for('user_profile', username=post.author.username) }}" class="faded-color-and-font">{{ post.author.username }}</a>
                        <a href="#" class="faded-color-and-font">{{ moment( post.timestamp ).fromNow() }}</a href="#">
                        <span class="unvote">| unvote</span>
                        <a href="#" class="faded-color-and-font">| hide</a>
                        <a href="{{ url_for('create_comment', post_id=post.id) }}" class="faded-color-and-font">| comment</a>
                </div>
            </td>
        </tr>
        <tr>
                <td></td>
                <td>
                        {{ comment.body(cols=60, rows=6) }}
                        {% for error in comment.body.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                </td>
        </tr>
        <tr>
            <td></td>
            <td class="faded-color-and-font">If you haven't already, would you mind reading about HN's approach to comments and site guidelines? </td>
        </tr>
        <tr>
            <td></td>
            <td>{{ comment.submit() }} </td>
        </tr>
    </table>
    <table>

        {% for comment_on_post in  all_comment_on_post %}
        <tr>
            <td><div class="upvote faded-color-and-font"><img src="{{ url_for('static', filename = 'arrow.png') }}" alt="arrow-up"></div></td>
            <td>{{ comment_on_post.comment_user.username }}
                <a href="#" class="faded-color-and-font">{{ moment( post.timestamp ).fromNow() }}</a href="#">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>{{comment_on_post.body}}</td>
        </tr>
        {%endfor%}
    </table>

</form>



{% endblock %}