<link rel="stylesheet" href="{{ url_for('static', filename = 'footer.css') }}">

<div class="footer">
        <div class="yc-winter-2020"><a href="#"> Applications are open for YC Winter 2020 </a></div>

        <div class="footer-nav-bar">
          <a href="#"> Guidelines </a>
          <a href="#">| FAQ</a>
          <a href="#">| Support </a>
          <a href="#">| API </a>
          <a href="#">| Security </a>
          <a href="#">| Lists </a>
          <a href="#">| Bookmarklet </a>
          <a href="#">| Legal </a>
          <a href="#">| Apply to YC</a>
          <a href="#">| Contact</a>

        </div>
        <form action="" method="POST">
          {{ search.hidden_tag() }}
           <p>
               {{ search.search.label }}
               {{ search.search(size=32) }}
               {% for error in search.search.errors %}
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
           </p>
        </form>

   </div>
