<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename = 'main.js') }}"></script>
{% extends "base.html" %}

{% block content %}
<script>
   $(document).ready(function(){
      $('.hide-post').click(function(){
        $(this).closest('table').hide()

      })
   });
</script>

{% set count = namespace(a=1) %}

{% for post in posts %}

<table>
  <tr>
    <td class="faded-color-and-font">{{ count.a }}.</td>
    <td class="upvote"><img src="{{ url_for('static', filename = 'arrow.png') }}" alt="arrow-up"></td>
    <td>
      <a href=" {{post.url}} ">{{ post.title }}</a> <span style="color: #828282;font-size: 0.8em;">({{ post.original_domain }})</span>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td class="faded-color-and-font" id={{ count.a }}>
      {{ post.author.karma }} points by <a href="{{ url_for('user_profile', username=post.author.username) }}" class="faded-color-and-font">{{ post.author.username }}</a>
        <a href="#" class="faded-color-and-font">{{ moment( post.timestamp ).fromNow() }}</a href="#">
        <span class="unvote">| unvote</span>
        <span class="faded-color-and-font hide-post">| hide</span>
        <a href="{{ url_for('create_comment', post_id=post.id) }}" class="faded-color-and-font">|({{ comment[ 0 ][0] }}) comment</a>
    </td>
  </tr>
  {% set count.a = count.a + 1 %}
</table>

{% endfor %}
<div class="post_container">
    <div class="serial-number-decending faded-color-and-font"></div>
    <div class="upvote faded-color-and-font"></div>
    <div class="post-title"></div>
      {% if next_url %}
    <div class="post-author more">
      <a href="{{ next_url }}" class="more">More</a>
    </div>
      {% endif %}
</div>

{% set count.a = count.a + 10 %}

{% include "footer.html" %}
{% endblock %}

