<div class="container">
     {% with messages = get_flashed_messages() %}
     {% if messages %}
         {% for message in messages %}
         <div class="alert alert-info" role="alert">{{ message }}</div>
         {% endfor %}
     {% endif %}
     {% endwith %}

 </div>
   <h4>Login</h4>
   <form action="" method="POST">
           {{ form.hidden_tag() }}
           <p>
               {{ form.username.label }}
               {{ form.username(size=32) }}
               {% for error in form.username.errors %}
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
           </p>
          <p>
               {{ form.password.label }}
               {{ form.password(size=32) }}
               {% for error in form.password.errors %}
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
           </p>
           <p>
                {{ form.submit() }}
           </p>
   </form>
   <div>
       <a href="{{ url_for('reset_password_request') }}">Forgot your password?</a>
   </div>

   <h4>Create Account</h4>
   <form action="" method="POST">
     {{ create_form.hidden_tag() }}
     <p>
          {{ create_form.create_username.label }}
          {{ create_form.create_username(size=32) }}
          {% for error in create_form.create_username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
     </p>
     <p>
          {{ create_form.create_password.label }}
          {{ create_form.create_password(size=32) }}
          {% for error in create_form.create_password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
     </p>
     <p>
          {{ create_form.submit() }}
     </p>
</form>