<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
{% extends "base.html" %}

{% block content %}

<table>
    {% for comment in comments %}
    <tr >
        <td class="upvote"><img src="{{ url_for('static', filename = 'arrow.png') }}" alt="arrow-up"></td>
        <td >
            <span style="color: #828282;font-size: 0.8em;">{{ comment.comment_user.username }}</span>
            <span style="color: #828282;font-size: 0.8em;">{{ moment( comment.timestamp ).fromNow() }}</span>
            <span style="color: #828282;font-size: 0.8em;">| parent | on: </span>
            <span style="color: #828282;font-size: 0.8em;">{{ comment.comment_post.title }}</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 0.9em;">{{comment.body}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}