<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {{ user.hidden_tag() }}
    {% if current_user.is_authenticated and current_user.username == user_info.username%}
        <div class="instruction-on-update"><p class="instruction">Please put a valid address in the email field, or we won't be able to send you a new password if you forget yours. Your address is only visible to you and us. Crawlers and other users can't see it.</p>
        </div>
        <table>
            <tr>
                <td>user:</td>
                <td>{{ current_user.username }}</td>
            </tr>
            <tr>
                <td>created:</td>
                <td>{{ moment( user_info.timestamp ).fromNow() }}</td>
            </tr>
            <tr>
                <td>karma:</td>
                <td>{{ user_info.karma }}</td>
            </tr>
            <tr>
                <td>{{ user.about.label }}</td>
                <td>
                    {{ user.about(cols=48, rows=6, placeholder = current_user.about  ) }}
                    {% for error in user.about.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ user.email.label }}</td>
                <td>
                    {{ user.email(size=32, placeholder = current_user.email) }}
                    {% for error in user.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ user.showdead.label }}</td>
                <td>
                    {{ user.showdead(checked = current_user.showdead) }}
                </td>
            </tr>
            <tr>
                <td>{{ user.noprocrast.label }}</td>
                <td>{{ user.noprocrast }}</td>
            </tr>
            <tr>
                <td>{{ user.maxvisit.label }}</td>
                <td>
                    {{ user.maxvisit(size=32, placeholder = current_user.maxvisit) }}
                    {% for error in user.maxvisit.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ user.minaway.label }}</td>
                <td>
                    {{ user.minaway(size=32, placeholder = current_user.minaway) }}
                    {% for error in user.minaway.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ user.delay.label }}</td>
                <td>
                    {{ user.delay(size=32, placeholder = current_user.delay) }}
                    {% for error in user.delay.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                 <td>{{ user.submit() }}</td>
            </tr>
        </table>
        {% else %}
        <table>
            <tr>
                <td>user:</td>
                <td>{{ user_info.username }}</td>
            </tr>
            <tr>
                <td>created</td>
                <td>{{ user_info.timestamp }}</td>
            </tr>
            <tr>
                <td>karma</td>
                <td>{{user_info.karma}}</td>
            </tr>
            <tr>
                <td>about</td>
                <td>{{ user_info.about }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ user_info.email }}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">submissions</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">comments</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">favorites</a></td>
            </tr>

        </table>
    {% endif %}
</form>
{% endblock %}