<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
{% extends "base.html" %}

{% block content %}


{% for res in all_search_result['hits']['hits'] %}
   <a href="{{ res._source.post_url }}">{{ res._source.post_title }}</a> <br>


{% endfor %}

{% endblock %}

