<link rel="stylesheet" href="{{ url_for('static', filename = 'submit.css') }}">

{% extends "base.html" %}

{% block content %}
<form  method = "POST">
         {{ posts.hidden_tag() }}
         <table>
             <tr>
                 <td>{{ posts.title.label }}</td>
                 <td>
                        {{ posts.title(size=32) }}
                        {% for error in posts.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                          {% endfor %}
                 </td>
             </tr>
             <tr>
                 <td> {{ posts.url.label }}</td>
                 <td>
                        {{ posts.url(size=32) }}
                        {% for error in posts.url.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                 </td>
             </tr>
             <tr>
                 <td></td>
                 <td>or</td>
             </tr>
             <tr>
                 <td>{{ posts.text.label }}</td>
                 <td>
                     {{ posts.text(cols=48, rows=6) }}
                        {% for error in posts.text.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                </td>
             </tr>
             <tr>
                 <td></td>
                 <td>
                        {{ posts.submit() }}
                 </td>
             </tr>
             <tr>
                 <td></td>
                 <td>	Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.

                </td>
             </tr>
             <tr>
                 <td></td>
                 <td>You can also submit via <a href="#" style="color: #828282; text-decoration: underline;">bookmarklet</a> .</td>
             </tr>

         </table>
    </form>
{% endblock %}

